<form ng-submit="addPhone()">
    <div class="modal-body">


      <%= label_tag :name %>
      <%= text_field_tag :name, nil,"ng-model"=>"newPhone.name" %>
      <%= label_tag :f1 %>
      <%= text_field_tag :f1, nil,"ng-model"=>"newPhone.f1" %>
      <%= label_tag :f2 %>
      <%= text_field_tag :f2, nil,"ng-model"=>"newPhone.f2" %>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%=  submit_tag "Save Changes", :class=>"btn btn-primary" %>
    </div>
</form>