<h1>Phones</h1>
<!-- Button to trigger modal -->
<div ng-controller="PhonesCtrl">

<a href="#newModal" role="button" class="btn" data-toggle="modal">New Phone</a>
  Search: <input ng-model="query">
<div class='row'>
<div class='span7'>
  <ul>
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
      {{phone.name}}  <button ng-click="editThisPhone(phone)" class="btn btn-mini">Edit</button>
      <button ng-click="showThisPhone(phone)" class="btn btn-mini">Show</button>
      <a href="#" ng-click="deleteThisPhone(phone)" class="btn btn-mini" comfirm="Are you sure?">Delete</a>
    </li>
  </ul>
</div>
</div>






<!-- New Modal -->
<div id="newModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newModalLabel">New Phone</h3>
  </div>

    <%=  render 'form' %>

</div>

  <!-- Edit Modal -->
  <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="editModalLabel">Edit Phone</h3>
    </div>

    <form ng-submit="updatePhone()">
      <div class="modal-body">


        <%= label_tag :name %>
        <%= text_field_tag :name, nil,"ng-model"=>"editPhone.name" %>
        <%= label_tag :f1 %>
        <%= text_area_tag :f1, nil, "ng-model"=>"editPhone.f1" %>
        <%= label_tag :f2 %>
        <%= text_area_tag :f2, nil, "ng-model"=>"editPhone.f2" %>

      </div>
      <div class="modal-footer">
        <button ng-click="resetThisPhone(editPhone)" data-dismiss="modal" class="btn" >Cancel</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%=  submit_tag "Save Changes", :class=>"btn btn-primary" %>
      </div>
    </form>

  </div>

  <!-- Show Modal -->
  <div id="showModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="showModalLabel">Phone</h3>
    </div>


      <div class="modal-body">
        <h2>{{showPhone.name}}</h2>

        f1: {{showPhone.f1}} <br />
        f2: {{showPhone.f2}}

      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>

  </div>
</div>