// Place all the styles related to the Phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
  list-style: none;
}

li {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}